@font-face {
  font-family: 'RSU_BOLD';
  src: url('../fonts/RSU_BOLD.ttf');
}

html, body, * {
  font-family: 'RSU_BOLD'
}

.navbar {
  border-bottom: 5px solid gray;
  background: #ebebe0;
  font-family: 'RSU_BOLD'
}

.head-left {
  width: 20%;
  float: left;
  padding: 0.5% 0 0 2%;
}

.head-left img {
  width: 90px;
  position: absolute;
  background: #ebebe0;
  border-radius: 0 0 50% 0%;
  left: 0;
  top:0;
  padding: 0.2% 0.5%;
  border-bottom: 5px solid gray;
}

.head-right {
  width: 80%;
  font-size: 40px;
  float: right;
  text-align: right;
  /*border: 1px solid red;*/
}

.container {
  text-align: center;
  background: #fff;
  position: static;
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  margin-top: 1%;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 40px;
}

.menu-c {
  /*border: 2px solid red;*/
  height: 260px;
  overflow: auto;
}

.bt_menu {
  width: 200px;
  height: 200px;
  margin: 0% 1% 2% 1%;
  text-align: center;
  background: #fff;
  border-radius: 10px;
}

.bt_menu img {
  width: 70%;
}

.bt_menu h1 {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  margin-top: 3%;
}

.item_menu {
  width: 200px;
  height: 200px;
  font-weight: bold;
  float: left;
  margin: 2% 1.6%;
  position: relative;
  border-radius: 0 0 9px 9px;
  /*border: 1px solid black;*/
}
  .imgitem {
    /*border: 1px solid blue;*/
    width: 100%;
    height: 150px;
    position: absolute;
    padding: 0.5%;
    border-radius: 0 0 9px 9px;
  }

  .imgitem img {    
    border-radius: 0 0 9px 9px;
  }  

  .Nitem {
    /*border: 1px solid red;*/
    width: 100%;
    height: 50px;
    text-align: center;
    background: #e8eaed;
    position: absolute;
    bottom: 0;
    padding: 2%;
    border-top: 0;
    word-wrap:break-word;
    border-radius: 0 0 9px 9px;
  }
    .Nitem h1 {
      font-weight: bold;
      font-size: 25px;
    }

.fot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #ebebe0;
  border-top: 5px gray solid;
}

.fot marquee {
  font-size: 20px;
  font-weight: bold;
  padding: 1% 0;
  color: #42a003;
}

.fot .fstatus {
  width: 20%;
  float: left;
  padding-left:2%;
}

#lang_bar {
  bottom: 0;
  width: 100%;
  position: fixed;
}

.lang {
  width: 5%;
  border-radius: 50%;
  cursor: pointer;
}

.back {
  position: absolute;
  background: #bc0d30;
  width: 90px;
  height: 90px;
  top:0;
  border-radius: 50%;
  border: 10px double #fff;
  font-size: 90px;
  line-height: 20px;
  color: #fff;
}