.payment-top {
	/*border-bottom: 2px solid blue;*/
	height: 60px;
	width: 100%;
	float: left;
	word-wrap:break-word;
	font-weight: bolder;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 2%;
	margin-bottom: 1%;
}

.payment-top span {
	margin-bottom: 5%;	
	font-size: 55px;
	line-height: 60px;
	padding: 5% 0;
}

.payment-left {
	/*border: 1px solid orange;*/
	height: 400px;
	width: 40%;
	position: relative;
	clear: both;
	float: left;
}
	.Pimg {
		position: relative;
		width: 100%;
		height: 300px;
		/*background: green;*/
		padding: 1%;
		overflow: hidden;
		margin-bottom: 1%;
		border-radius: 10px;
	}

	.Pimg img {
		position: absolute;
        left: 50%;
        top: 50%;
        height: auto;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
	}

	.PnetA {
		position: absolute;
		width: 100%;
		height: 100px;
		background: #000;
		border-radius: 9px;
		border: 5px solid red;
		font-size: 100px;
		font-weight: bold;
		color: #fff;
		padding: 0;
		line-height: 95px;
		text-align: right;
	}

.payment-right {
	/*border: 1px solid red;*/
	width: 60%;
	float: right;
	height: 400px;
	padding-left: 2%;
}
	.PRT {
		width: 100%;
		/*background: red;*/
		height: 100px;
	}
		.PRT-plus {
			width: 20%;
			/*border: 1px red solid;*/
			height: 100%;
			float: left;
			padding: 1%;
		}
		.PRT-cnt {
			width: 60%;
			height: 100%;
			border: 9px red solid;
			float: left;
			border-radius: 10px;
			background: #e1eaea;
			color: #000;
			font-size: 100px;
			line-height: 95px;
			text-align: right;
			padding-right: 2%;
		}
		.PRT-romove {
			width: 20%;
			height: 100%;
			/*border: 1px blue solid;*/
			float: left;
			padding: 1%;
		}

		.PRT .is-success, .is-danger {
			font-size: 150px;
			line-height: 15px;
			padding: 5% 0 0 0;
			width: 100%;
			height: 85px;
			border-radius: 10px;
		}

		.PRT .is-danger {
			font-size: 150px;
		}

	.PRC {
		width: 100%;
		/*background: #98f77b;*/
		padding: 1%;
		height: 200px;
	}

		.PRC .choice {
			width: 48%;
			font-size: 40px;
			padding: 0 auto;
			height: 60px;
			margin: 0.5%;
			float: left;
			color: #fff;
			background: #8fbfef;
			border-radius: 10px;
		}

		.PRC .choice:hover {
			background: #fff;
			border: 2px solid #8fbfef;
			color: #fff;
			background: #008CBA;
		}

		.PRC .active {
			background: #008CBA;
		}

	.PRB {
		width: 100%;
		/*background: #7cf9f5;*/
		height: 100px;
	}
		.PRB .cancel {
			background: red;
			color: #fff;
			width: 38%;
			margin: 0 2% 2% 2%;
			float: left;
			font-size: 50px;
			height: 100%;
			font-family: 'RSU_BOLD';
			border-radius: 10px;
		}

		.PRB .success {
			background: #4dbc0d;
			color: #fff;
			width: 58%;
			margin: 0 0 2% 0;
			float: left;
			height: 100%;
			font-family: 'RSU_BOLD';
			border-radius: 10px;
			font-size: 50px;
		}

/*  modal  */
.modal-content {
	background: #fff;
	height: 100%;
	border-radius: 10px;
	padding: 2%;
	overflow: hidden;
}

	.md-left {
		/*border: 1px solid blue;*/
		height: 100%;
		width: 40%;
		float: left;
	}
		.md-left u {
			font-size: 24px;
			font-weight: bolder;
			text-decoration-style: double;
		}
		.md-left img {
			width: 70%;
			height: 80px;
			margin-left: 15%;
			margin-bottom: 0;
		}

	.md-right {
		/*border: 1px solid red;*/
		height: 100%;
		width: 60%;
		float: left;
	}
		.md-right .netAmt {
			/*border: 1px solid green;*/
			width: 100%;
			height: 150px;
		}
			.md-right .netAmt span {
				font-size: 50px;
				line-height: 50px;
				margin-left: 5%;
			}
			.md-right .mn {
				width: 100%;
				height: 90px;
				background: #000;
				border-radius: 9px;
				border: 5px solid red;
				font-size: 90px;
				font-weight: bold;
				color: #fff;
				padding: 0;
				line-height: 85px;
				text-align: right;
			}
		.md-right .paymentAmt {
			/*border: 1px solid orange;*/
			width: 100%;
			height: 150px;
		}
			.md-right .paymentAmt span {
				font-size: 50px;
				line-height: 50px;
				margin-left: 5%;
			}

		.md-right .cancel {
			/*border: 1px solid red;*/
			width: 100%;
			height: 100px;
		}
			.md-right .cancel .bt-cancel {
				background: red;
				color: #fff;
				width: 96%;
				margin: 0 2% 2% 2%;
				float: left;
				font-size: 50px;
				height: 100%;
				font-family: 'RSU_BOLD';
				border-radius: 10px;
			}

			.md-right .cancel .disabled {
				background: #f79b9b;
				color: #fff;
				width: 96%;
				margin: 0 2% 2% 2%;
				float: left;
				font-size: 50px;
				height: 100%;
				font-family: 'RSU_BOLD';
				border-radius: 10px;
			} 

		.md-right .coinuse {
			/*border: 1px solid yellow;*/
			width: 100%;
			height: 120px;
		}
			.md-right .coinuse u {
				width: 100%;
				font-size: 24px;
				font-weight: bolder;
				text-decoration-style: double;
			}
			.md-right .coinuse .c1 {
				margin: 0 0 8% 15%;
				/*border: 1px solid red;*/
				width: 60px;
			}
			.md-right .coinuse .c5 {
				margin: 0 0 6% 5%;
				/*border: 1px solid red;*/
				width: 70px;
			}
			.md-right .coinuse .c10 {
				margin: 0 0 5% 5%;
				/*border: 1px solid red;*/
				width: 80px;
			}
		